/*
 * Author: Isaiah Mann
 * Description: Style guide for the curve analysis
 */

#percentMatch {
     font-family: sans-serif;
     position: absolute;
     bottom: 1em;
     left: 50%;
}

input.horizontalSlider {
     width: 10em;
}

input.verticalSlider {
     -webkit-appearance: slider-vertical;
     writing-mode: bt-lr;
     height: 10em;
}

input.button {
     width: 7.5em;
     background-color: #33b3dd;
     color: white;
     font-size: 2em;
     margin-left: 4em;
     margin-top: 1em
}

td {
     width: 4em;
}

table#topLeftCurve {
     border: 3px solid blue;
     position: absolute;
     top: 1em;
     left: 1em;
}

table#topRightCurve {
     border: 3px solid orange;
     position: absolute;
     top: 1em;
     right: 1em;
}

table#bottomLeftCurve {
     border: 3px solid red;
     position: absolute;
     bottom: 1em;
     left: 12.5em;
}

table#bottomRightCurve {
     border: 3px solid green;
     position: absolute;
     bottom: 1em;
     right: 12.5em;
}

table {
     padding: 0.5em;
     transition: max-height 0.15s ease-out;
}
