/*
 * Adapated from: http://www.w3schools.com/howto/howto_css_switch.asp by Isaiah Mann
 * Description: Creates a visual toggle with a text display
 */
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 4em;
  width: 10em;
  height: 2em;
  left: 45.5%;
  right: 47.5%;
  background-color: #2F56AA;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider label {
     line-height: 30px;
     word-spacing: 30px;
     font-family: sans-serif;
     font-weight: bolder;
     color: white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 72px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2F96F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2F96F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

.toggleable {
     display: none;
}
