/*
 * Author: Isaiah Mann
 * Description: Stylesheet for solar system
 */

 img {
      float: left;
      height: 480px;
 }
 canvas {
      margin-left: 200px;
      float: left;
 }

p, ul {
     display: inline-block;
     margin: 1.5em 20em;
}

ul {
     margin-top: -3.5em;
     line-height: 2em;
}

iframe {
     width: 560;
     margin: 1.5em 25em;
}
